<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <meta charset="utf-8">
    <title>Binance Analysis Application </title>
</head>

<body>
<div class="container" id="app">
	
    <h3 class="text-center">Binance Analysis Application </h3>
	<ul>
	<li><a href="../index.html">15 min</a></li>
	<li><a href="index.html">30 min</a></li>
	<li><a href="../60min/index.html">60 min</a></li>
	<li><a href="../day/index.html">1 day</a></li>
	</ul>
    <div class="columns medium-3" v-for="s in x1" >
        <div class="card" v-if="s.symbol.indexOf('BNBBTC')+1 ">
            <div class="card-section" >
                <p>PAIR: {{ s.symbol }} </p>
            </div>
            <div class="card-divider">
                <p>TDMN:  {{ s.tradedMoney }}</p>
            </div>
            <div class="card-section" v-for="t in x2" v-if="t.symbol.indexOf('BNBBTC')+1">
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) >=0" :style="{ 'color': 'green' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) < 0" :style="{ 'color': 'red' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
            </div>
        </div>

        <div class="card" v-if="s.symbol.indexOf('NULSBTC')+1 ">
            <div class="card-section" >
                <p>PAIR: {{ s.symbol }} </p>
            </div>
            <div class="card-divider">
                <p>TDMN:  {{ s.tradedMoney }}</p>
            </div>
            <div class="card-section" v-for="t in x2" v-if="t.symbol.indexOf('NULSBTC')+1">
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) >=0" :style="{ 'color': 'green' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) < 0" :style="{ 'color': 'red' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
            </div>
        </div>


        <div class="card" v-if="s.symbol.indexOf('NEOBTC')+1 ">
            <div class="card-section" >
                <p>PAIR: {{ s.symbol }} </p>
            </div>
            <div class="card-divider">
                <p>TDMN:  {{ s.tradedMoney }}</p>
            </div>
            <div class="card-section" v-for="t in x2" v-if="t.symbol.indexOf('NEOBTC')+1">
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) >=0" :style="{ 'color': 'green' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) < 0" :style="{ 'color': 'red' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
            </div>
        </div>


        <div class="card" v-if="s.symbol.indexOf('LINKBTC')+1 ">
            <div class="card-section" >
                <p>PAIR: {{ s.symbol }} </p>
            </div>
            <div class="card-divider">
                <p>TDMN:  {{ s.tradedMoney }}</p>
            </div>
            <div class="card-section" v-for="t in x2" v-if="t.symbol.indexOf('LINKBTC')+1">
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) >=0" :style="{ 'color': 'green' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) < 0" :style="{ 'color': 'red' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
            </div>
        </div>


        <div class="card" v-if="s.symbol.indexOf('SALTBTC')+1 ">
            <div class="card-section" >
                <p>PAIR: {{ s.symbol }} </p>
            </div>
            <div class="card-divider">
                <p>TDMN:  {{ s.tradedMoney }}</p>
            </div>
            <div class="card-section" v-for="t in x2" v-if="t.symbol.indexOf('SALTBTC')+1">
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) >=0" :style="{ 'color': 'green' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) < 0" :style="{ 'color': 'red' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
            </div>
        </div>


        <div class="card" v-if="s.symbol.indexOf('IOTABTC')+1 ">
            <div class="card-section" >
                <p>PAIR: {{ s.symbol }} </p>
            </div>
            <div class="card-divider">
                <p>TDMN:  {{ s.tradedMoney }}</p>
            </div>
            <div class="card-section" v-for="t in x2" v-if="t.symbol.indexOf('IOTABTC')+1">
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) >=0" :style="{ 'color': 'green' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) < 0" :style="{ 'color': 'red' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
            </div>
        </div>


        <div class="card" v-if="s.symbol.indexOf('ETCBTC')+1 ">
            <div class="card-section" >
                <p>PAIR: {{ s.symbol }} </p>
            </div>
            <div class="card-divider">
                <p>TDMN:  {{ s.tradedMoney }}</p>
            </div>
            <div class="card-section" v-for="t in x2" v-if="t.symbol.indexOf('ETCBTC')+1">
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) >=0" :style="{ 'color': 'green' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) < 0" :style="{ 'color': 'red' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
            </div>
        </div>

        <div class="card" v-if="s.symbol.indexOf('ETHBTC')+1 ">
            <div class="card-section" >
                <p>PAIR: {{ s.symbol }} </p>
            </div>
            <div class="card-divider">
                <p>TDMN:  {{ s.tradedMoney }}</p>
            </div>
            <div class="card-section" v-for="t in x2" v-if="t.symbol.indexOf('ETHBTC')+1">
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) >=0" :style="{ 'color': 'green' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
                <p v-if="( (t.tradedMoney / s.tradedMoney )*100 - 100) < 0" :style="{ 'color': 'red' }">DIFF:  {{ ((t.tradedMoney / s.tradedMoney )*100 - 100) + " %"}}</p>
            </div>
        </div>


    </div>


</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="vueApp.js"></script>

</body>
</html>